div.step-group
	font-family $sans
	text-align center
	font-size 0.875rem
	margin 12% 0 16%
	h4.step-num
		font-weight 700
		color #008577
		text-transform uppercase
		position relative
		letter-spacing 0.2rem
		margin-bottom 10px
	h4.step-num::before
		content ''
		position absolute
		width 50%
		border-top 1px solid #b6b6b6
		top -20px
		left 25%
	p.step-desc
		max-width 635px
		margin 0 auto
		line-height 1.6rem
	img
		max-width 635px
		margin 7% auto 10%

@media screen and (max-width: 649px)
	.calc
		padding-left 1rem
		padding-right 1rem