.familyLines
	.replay, .skipToEnd
		display inline-block
		margin 10% 1% 0
	.replay
		margin-left 12%
	figure
		width 100%
	.family__figure
		display grid
		columns 2
		grid-template-columns 70% 30%
		grid-gap 3%
		.canvasContainer
			width 100%
			height 100%
		svg
			width 100%
			height 100%
			text
				font-family $sans
				font-size 14px
				fill #828282
			.axis
				path, line
					stroke none
		.line
			stroke #000
			stroke-width 1px
			fill none
			shape-rendering crispEdges
		.quintileLabel
			text-anchor end
		.label
			font-family $sans
			font-size 0.8em
			font-weight 700
			fill #282828