.familyLines
	.replay, .skipToEnd
		display inline-block
		margin 10% 1% 0
	.replay
		margin-left 12%
	figure
		width 100%
	.family__figure
		display grid
		columns 2
		grid-template-columns 69% 29%
		grid-gap 2%
		margin-bottom 10%
		.canvasContainer
			position relative
			canvas
				position absolute
				top 0
				left 0
	.family_smallMultiples__figure
		display grid
		columns 3
		grid-template-columns 1fr 1fr 1fr
		grid-gap 2%
	svg
		width 100%
		text
			font-family $sans
			font-size 14px
			fill #828282
		.axis
			path, line
				stroke none
	.line
		stroke #000
		stroke-width 1px
		fill none
		shape-rendering crispEdges
	.quintileLabel
		text-anchor end
	.label
		font-family $sans
		font-size 0.8em
		font-weight 700
		fill #282828

@media screen and (max-width: 649px)
	.familyLines
		padding-left 1rem
		padding-right 1rem

@media screen and (max-width: 430px)
	.familyLines
		.family__figure
			columns 1
			grid-template-columns 100%
			grid-template-rows 30vh 30vh
