.familyLines
	figure
		max-width 80vw
		// max-height 50vh
	.family__figure
		display grid
		columns 2
		grid-template-columns 80% 20%
		grid-gap 10px
		svg
			width: 100%
		.line
			stroke #000
			stroke-width 1px
			fill none
			shape-rendering crispEdges
		.quintileLabel
			text-anchor end