.guessMovement
	padding-bottom 16%
	img
		max-width 635px
		margin 7% auto 10%
	figure
		width 100%
		max-width 635px
		margin 0 auto
		.instruction_div
			max-width 635px
			margin 0 auto
			font-family $sans
			line-height 1.5rem
			display flex
			align-items center
			img
				width 36px
				height 36px
				margin 0
			.instruction
				line-height 1.2
				margin 0 0 1rem 10px
	.warningMsg
		visibility hidden
		max-width 635px
		width 100%
		background-color #FFFFE0
		font-family $sans
		font-size 0.8em
		line-height 2.78em
		text-align center
		margin 5% auto 2%
	// .submitBtn
	// 	// text-transform uppercase
	// 	// padding 1.2rem 1.5rem
	// 	// font-family $sans
	// 	// font-weight 700
	// 	// display block
	// 	// margin 0 auto
	// 	// background-color #008577
	// 	// color #fff
	// 	// border-radius 3.75rem
	// .submitBtn:hover
	// 	background-color #007367
	// .submitBtn[aria-disabled=true]
	// 	pointer-events none
	// 	cursor auto
	// 	opacity 0.5
	.noDisplay
		visibility hidden
	.guess_svg
		text
			font-family $sans
		rect.selection
			pointer-events none // prevents bars from being moved
		.axis
			text
				font-size 14px
				color #828282
			.tick text
				font-size 12px
			.axisTitle
				color #4F4F4F
				font-weight 700
		.axis--x
			line, path
				display none
		.axis--y
			path
				display none
			line
				stroke #E6E6E6
		.answerBar
			fill rgba(0, 0, 0, 0.5)
		.answerBarLabel
			font-size 14px
			color #828282
			text-anchor middle