.guessMovement
	figure
		width 100%
		// max-height 342px
	rect.selection
		pointer-events none // prevents bars from being moved
	.instruction2
		visibility hidden
	.warningMsg
		visibility hidden
		max-width 272px
		border 1px solid #CACA27
		background-color #FFFFE0
		font-family $sans
		font-size 0.8em
		line-height 1.3em
		text-align center
		padding 0.4em 1em
		display block
		margin 0 auto
	.submitBtn
		text-transform uppercase
		padding 0.4em 1em
		font-family $sans-display
		display block
		margin 0 auto
		background-color #E5E5E5
	.submitBtn.inactive
		pointer-events none
		cursor auto
		color #d2d2d2
	.guess_svg
		.axis
			text
				font-family $sans
				font-size 14px
				color #828282
			.axisTitle
				color #4F4F4F
				font-weight 700
		.axis--x
			line, path
				display none
		.axis--y
			path
				display none
			line
				stroke rgba(224, 224, 224, 0.5)
	.answer__figure.noDisplay
		display none
	.answerBarLabel
		font-size 11px
		text-anchor middle