.guessMovement
	figure
		max-width 45vw
		// max-height 50vh
	rect.selection
		pointer-events none // prevents bars from being moved
	.instruction2
		visibility hidden
	.warningMsg
		visibility hidden
	.submitBtn.inactive
		pointer-events none
		cursor auto
		color #d2d2d2
	.answer__figure.noDisplay
		display none
	.answerBarLabel
		font-size 11px
		text-anchor middle