.methods
	hr
		color #E5E5E5
		max-width 375px
		margin 15% auto 8%
	.section-hed
		font-size 0.9rem
		line-height 0.9rem
		text-align left
		text-transform uppercase
		max-width 620px
		margin-bottom 0
		font-weight bold
	.prose
		font-size 0.9rem
		margin-bottom 1rem