/* CUSTOM STORY STYLE */
body
	background-color white
	main
		max-width 743px
		margin 0 auto
		font-size 18px
		.prose
			line-height 1.5em
			max-width 620px
			margin 0 auto
			padding 0
		h2.section-hed
			font-family $serif-display
			font-size 3rem
			max-width 635px
			text-align center
			margin 4% auto 6%
			line-height 3.625rem
		h3
			font-family $serif-display
			font-size 1.5rem
			max-width 635px
			margin 2% auto
		button
			text-transform uppercase
			padding 1.2rem 1.5rem
			font-family $sans
			font-weight 700
			display block
			margin 0 auto
			background-color #008577
			color #fff
			border-radius 3.75rem
		button:hover
			background-color #007367
		button[aria-disabled=true]
			pointer-events none
			cursor auto
			opacity 0.5
