/* CUSTOM STORY STYLE */
body
	background-color white
	main
		max-width 743px
		margin 0 auto
		font-size 18px
		.prose
			line-height 1.5em
			max-width 620px
			margin 0 auto
			padding 0
		h2.section-hed
			font-family $serif-display
			font-size 3rem
			max-width 635px
			text-align center
			margin 4% auto 6%
			line-height 3.625rem