<section class='familyLines'>
	<h2 class='section-hed'>{{{doc.histTitle}}}</h2>
	<p class='prose'>{{{doc.histSetup}}}</p>
	<button class='replay'>Replay</button><button class='skipToEnd'>Skip to the end</button>
	<figure class='family__figure'>
		<div class='canvasContainer'></div>
		<svg class='familyBars_svg'></svg>
	</figure>
</section>