<section class='familyLines'>
	<h2 class='section-hed'>{{{doc.histTitle}}}</h2>
	<p class='prose'>{{{doc.histSetup}}}</p>
	<button class='replay'>Replay</button><button class='skipToEnd'>Skip to the end</button>
	<figure class='family__figure'>
		<div class='canvasContainer'></div>
		<svg class='familyBars_svg'></svg>
	</figure>
	{{#each doc.postHist}}
	<p class='prose'>{{{value}}}</p>
	{{/each}}
	<div class='family_smallMultiples__figure'>
		<figure class='familyBars white'>
			<h4>White families</h4>
			<p class='sampleSize'>4,784 families</p>
			<svg class='familyBars_white_svg'></svg>
		</figure>
		<figure class='familyBars black'>
			<h4>Black families</h4>
			<p class='sampleSize'>2,716 families</p>
			<svg class='familyBars_black_svg'></svg>
		</figure>
		<figure class='familyBars latino'>
			<h4>Latino families</h4>
			<p class='sampleSize'>467 families</p>
			<svg class='familyBars_latino_svg'></svg>
		</figure>
{{!-- 		<figure class='familyBars asian'>
			<h4>Asian families</h4>
			<svg class='familyBars_asian_svg'></svg>
		</figure>
		<figure class='familyBars multi'>
			<h4>Multiracial families</h4>
			<svg class='familyBars_multi_svg'></svg>
		</figure>
		<figure class='familyBars native'>
			<h4>Native American families</h4>
			<svg class='familyBars_native_svg'></svg>
		</figure> --}}
	</div>

	{{#each doc.race}}
	<p class='prose'>{{{value}}}</p>
	{{/each}}

</section>