<section class='familyLines'>
	<h2>Families are actually quite fluid in the income distribution</h2>
	<button class='skipToEnd'>Ain't got time for this</button>
	<figure class='family__figure'>
		<svg class='familyLines_svg'></svg>
		<svg class='familyBars_svg'></svg>
	</figure>
</section>