<section class='familyLines'>
	<h4>{{{doc.histTitle}}}</h4>
	<p class='prose'>{{{doc.histSetup}}}</p>
	<button class='replay'>Replay</button>
	<button class='skipToEnd'>Ain't got time for this</button>
	<figure class='family__figure'>
		<div class='canvasContainer'></div>
		<svg class='familyBars_svg'></svg>
	</figure>
</section>