<section class='guessMovement'>
	<figure class='guess__figure'>
		<h2>How many levels do you think most families move?</h2>
		<p class='instruction'>Move the bars below based on how many levels you think middle-class families typically move.</p>
		<p class='warningMsg'>0% of families unaccounted for</p>
		<svg class='guess_svg'></svg>
		<p class='interpretText'></p>
	</figure>
	<button class='submitBtn'>Submit</button>
	<figure class='answer__figure noDisplay'>
		<svg class='answer_svg'></svg>
	</figure>
</section>