<section class='guessMovement'>
	<figure class='guess__figure'>
		<h2>How many levels do you think most families move?</h2>
		<p class='warningMsg'>0% of families unaccounted for</p>
		<svg class='guess_svg'></svg>
		<p class='interpretText'>According to you, roughly equal numbers of families move a lot as do those that move a little.</p>
	</figure>
	<button class='submitBtn'>Submit</button>
	<figure class='answer__figure'>
		<svg class='answer_svg'></svg>
	</figure>
</section>