<section class='guessMovement'>
	<h3 class='section-hed'>{{{doc.movingHed}}}</h3>
	{{#each doc.moving}}
	<p class='prose'>{{{value}}}</p>
	{{/each}}
	<figure class='guess__figure'>
		<h4>{{{doc.movingQ}}}</h4>
		<p class='instruction'>{{{doc.movingSetup}}}</p>
		<p class='warningMsg'>Keep going! You still have 100% of families unaccounted for</p>
		<svg class='guess_svg'></svg>
		<p class='interpretText'></p>
	</figure>
	<button class='submitBtn inactive'>Looks good, submit it</button>
</section>